@charset "utf-8";

.photography {
    #gear {
        .media-object {
            svg {
                fill: $color-gray-1;

                width: 3rem;
                height: 3rem;
            }
        }
    }

    #platforms {
        .find-me-on {
            display: none;
        }

        @media only screen and (min-width: $screen-width-m) {
            .find-me-on {
                display: inline;
            }
        }
        
        a {
            border-bottom: 0.0625em dotted;
            color: $color-gray-1;
            text-decoration: none;
        }

        a:hover {
            border-bottom: 0.0625em solid;
            color: $color-main-foreground;
        }
    }
}