encoding:           utf-8

title:              Peter Folta
description:        >
    Write an awesome description for your new site here. You can edit this
    line in _config.yml. It will appear in your document head meta (for
    Google search results) and in your feed.xml site description.

url:                "http://new.peterfolta.net"
baseurl:            ""
cdnurl:             "http://cdn.peterfolta.net/static/pf/website"

repositoryurl:      "https://github.com/pfolta/peterfolta.net"

exclude:
    - .gitignore
    - LICENSE
    - README.md

permalink:          pretty

jekyll-minifier:
    exclude:
        - humans.txt
        - robots.txt