encoding:               utf-8

title:                  Peter Folta
description:            Peter Folta is a Software Engineer, Photographer, Musician, Blogger and more. This is my personal website and blog.
copyright_year:         2004–2016
copyright_holder:       Peter Folta

url:                    "https://www.peterfolta.net"
baseurl:                ""
cdnurl:                 "https://cdn.peterfolta.net/static/peterfolta.net"

repository-url:         "https://github.com/pfolta/peterfolta.net"
repository-src:         "https://github.com/pfolta/peterfolta.net.git"

social-facebook:        "https://www.facebook.com/pfolta"
social-twitter:         "https://twitter.com/pfoltaUK"
social-google-plus:     "https://plus.google.com/u/0/109828658620052977808/posts"
social-skype:           "skype:pfolta?call"
social-pinterest:       "https://www.pinterest.com/pfolta/"
social-github:          "https://github.com/pfolta"
social-stackexchange:   "http://stackexchange.com/users/3834287/pfolta"
social-linkedin:        "https://www.linkedin.com/in/peterfolta"
social-500px:           "https://500px.com/pfolta"
social-instagram:       "https://www.instagram.com/pfolta/"

exclude:
    - .gitignore
    - LICENSE
    - README.md

permalink:              pretty

sass:
    sass_dir:           /_scss
    style:              compressed

jekyll-minifier:
    exclude:
        - humans.txt
        - robots.txt