---
---

@charset "utf-8";

$cdnurl: "{{ site.cdnurl }}";

$max-page-width: 80rem;

$screen-width-s: 20rem;
$screen-width-m: 32rem;
$screen-width-l: 60rem;

@import "reset.scss";
@import "colors.scss";
@import "fonts.scss";
@import "typography.scss";
@import "general.scss";
@import "header.scss";
@import "social.scss";
@import "footer.scss";
@import "cv.scss";