<footer class="social micro island clearfix">
    <div class="wrapper">
        <ul class="links">
            <li><a href="{{ site.social-facebook }}" class="social-icon-facebook" rel="external"><i class="fa fa-facebook"></i></a></li>
            <li><a href="{{ site.social-twitter }}" class="social-icon-twitter" rel="external"><i class="fa fa-twitter"></i></a></li>
            <li><a href="{{ site.social-google-plus }}" class="social-icon-google-plus" rel="external"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="{{ site.social-skype }}" class="social-icon-skype" rel="external"><i class="fa fa-skype"></i></a></li>
            <li><a href="{{ site.social-pinterest }}" class="social-icon-pinterest" rel="external"><i class="fa fa-pinterest-p"></i></a></li>
            <li><a href="{{ site.social-github }}" class="social-icon-github" rel="external"><i class="fa fa-github"></i></a></li>
            <li><a href="{{ site.social-stackexchange }}" class="social-icon-stackexchange" rel="external"><i class="fa fa-stack-exchange"></i></a></li>
            <li><a href="{{ site.social-linkedin }}" class="social-icon-linkedin" rel="external"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="{{ site.social-500px }}" class="social-icon-500px" rel="external"><i class="fa fa-500px"></i></a></li>
            <li><a href="{{ site.social-instagram }}" class="social-icon-instagram" rel="external"><i class="fa fa-instagram"></i></a></li>
        </ul>
    </div>
</footer>