.footer

    background-color: $color-theme-4
    color: $color-grey-1

    .wrapper
        padding: 1rem

    a
        border-bottom: 1px dotted
        color: $color-grey-3
        text-decoration: none

    a:hover
        border-bottom: 1px solid
        color: $color-main-background

    .links

        ul
            list-style-type: none
            margin: 0