.footer

    background-color: $color-theme-4
    color: $color-grey-1
    font-size: 0.875rem
    text-align: center

    .wrapper
        padding: 1rem

    a
        border-bottom: 1px dotted
        color: $color-grey-3
        text-decoration: none

    a:hover
        border-bottom: 1px solid
        color: $color-main-background

    .links

        ul
            list-style-type: none
            overflow: hidden

            li
                float: left

            li::after
                content: "\00b7"
                margin: 0 0.5rem

            li:last-child::after
                content: ""