html
    font: normal 100%/1.3 "Liberation Sans", sans-serif

::-moz-selection
    background-color: $color-theme-2
    color: #ffffff

::selection
    background-color: $color-theme-2
    color: #ffffff