@charset "utf-8";

.home {
    #about-me {
        figure {
            img {
                border: 0.35em $color-grey-1 solid;

                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;

                max-height: 15rem;
                max-width: 50%;

                margin: 0 auto;
            }
        }
    }
}