@charset "utf-8";

.cta {
    text-align: center;
}

.btn {
    border: 0.125em $color-theme-2 solid;

    display: inline-block;
    padding: 0.75em 1.5em;
    width: 100%;

    color: $color-theme-2;

    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.25em;

    -webkit-transition: color 150ms ease-in-out, background-color 150ms ease-in-out;
    -moz-transition: color 150ms ease-in-out, background-color 150ms ease-in-out;
    -ms-transition: color 150ms ease-in-out, background-color 150ms ease-in-out;
    -o-transition: color 150ms ease-in-out, background-color 150ms ease-in-out;
    transition: color 150ms ease-in-out, background-color 150ms ease-in-out;
}

.btn:hover {
    background-color: $color-theme-2;
    border-color: $color-theme-2;
    color: $color-main-background;
}

.btn-disabled,
.btn-disabled:hover {
    border-color: $color-gray-1;

    color: $color-gray-1;
    background-color: inherit;
}

@media only screen and (min-width: $screen-width-m) {
    .btn {
        width: auto;
    }
}