@charset "utf-8";

section.grid:nth-of-type(even) {
    //background-color: $color-grey-4;
}

@media only screen and (min-width: $screen-width-l) {
    section.grid {
        display: flex;
        align-items: center;

        figure,
        .description {
            margin: 0;
            width: 50%;
        }

        .description {
            display: flex;
            flex-direction: column;
        }
    }

    section.grid:nth-of-type(even) {
        flex-direction: row-reverse;
    }
}