@charset "utf-8";

.section-grid {
    .description {
        @extend .island;
    }
}

@media only screen and (min-width: $screen-width-l) {
    .section-grid {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;

        figure,
        .description {
            margin: 0;
            width: 50%;
        }

        .description {
            padding-top: 0;
            padding-bottom: 0;

            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;

            -webkit-align-self: center;
            -ms-flex-item-align: center;
            align-self: center;

            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
        }
    }

    .section-grid:nth-of-type(odd) {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .section-grid:nth-of-type(even) {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    }
}