@charset "utf-8";

section.grid {
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: $screen-width-l) {
    section.grid {
        align-items: center;

        figure,
        .description {
            margin: 0;
            width: 50%;
        }

        .description {
            display: flex;
            flex-direction: column;
        }
    }

    section.grid:nth-of-type(odd) {
        flex-direction: row;
    }

    section.grid:nth-of-type(even) {
        flex-direction: row-reverse;
    }
}