@charset "utf-8";

.social-button {
    border: 0.125em  currentColor solid;
    border-radius: 50%;
    color: $color-grey-1;
    display: inline-block;

    text-align: center;
    text-decoration: none;

    line-height: 100%;

    width: 2rem;
    height: 2rem;

    padding-top: 0.4rem;

    -webkit-transition: background-color 150ms ease-in-out, border-color 150ms ease-in-out, color 150ms ease-in-out;
    -moz-transition: background-color 150ms ease-in-out, border-color 150ms ease-in-out, color 150ms ease-in-out;
    -ms-transition: background-color 150ms ease-in-out, border-color 150ms ease-in-out, color 150ms ease-in-out;
    -o-transition: background-color 150ms ease-in-out, border-color 150ms ease-in-out, color 150ms ease-in-out;
    transition: background-color 150ms ease-in-out, border-color 150ms ease-in-out, color 150ms ease-in-out;

    i {
        -webkit-transition: transform 150ms ease-in-out;
        -moz-transition: transform 150ms ease-in-out;
        -ms-transition: transform 150ms ease-in-out;
        -o-transition: transform 150ms ease-in-out;
        transition: transform 150ms ease-in-out;
    }
}

.social-button:hover {
    background-color: currentColor;

    i {
        color: $color-main-background;
    }
}

@media only screen and (min-width: $screen-width-s) {
    .social-button {
        font-size: 100%;

        width: 2rem;
        height: 2rem;
    }
}

@media only screen and (min-width: $screen-width-m) {
    .social-button {
        font-size: 100%;

        margin: 0;

        width: 2rem;
        height: 2rem;
    }
}

.social-icon-facebook:hover {
    color: #3e5b98;
}

.social-icon-twitter:hover {
    color: #4da7de;
}

.social-icon-google-plus:hover {
    color: #dd4b39;
}

.social-icon-skype:hover {
    color: #28abe3;
}

.social-icon-pinterest:hover {
    color: #c92619;
}

.social-icon-github:hover {
    color: #221e1b;
}

.social-icon-stackexchange:hover {
    color: #205296;
}

.social-icon-linkedin:hover {
    color: #3371b7;
}

.social-icon-500px:hover {
    color: #000000;
}

.social-icon-instagram:hover {
    color: #9c7c6e;
}