@charset "utf-8";

/*
 * Image Slideshow Formula
 * Source: http://css3.bradshawenterprises.com/cfimg/
 *
 * n - Number of Images
 * a - Presentation Time per Image
 * b - Cross Fading Duration
 * t - Total Animation Duration, t = (a + b) * n
 *
 * Animation Delay = t / n = a + b
 *
 * Keyframe Percentages
 * 1. 0%
 * 2. a / t * 100%
 * 3. (a + b) / t * 100% = 1 / n * 100%
 * 4. 100% - (b / t * 100%)
 * 5. 100%
 *
 * Settings
 * n = 5
 * a = 4s = 4000ms
 * b = 1s = 1000ms
 * t = 25s = 25000ms
 */

@-webkit-keyframes slideshow {
    0% {
        opacity: 1;
        visibility: visible;
    }
    16% {
        opacity: 1;
        visibility: visible;
    }
    20% {
        opacity: 0;
        visibility: hidden;
    }
    96% {
        opacity: 0;
        visibility: hidden;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}

@-moz-keyframes slideshow {
    0% {
        opacity: 1;
        visibility: visible;
    }
    16% {
        opacity: 1;
        visibility: visible;
    }
    20% {
        opacity: 0;
        visibility: hidden;
    }
    96% {
        opacity: 0;
        visibility: hidden;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}

@-o-keyframes slideshow {
    0% {
        opacity: 1;
        visibility: visible;
    }
    16% {
        opacity: 1;
        visibility: visible;
    }
    20% {
        opacity: 0;
        visibility: hidden;
    }
    96% {
        opacity: 0;
        visibility: hidden;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}

@-ms-keyframes slideshow {
    0% {
        opacity: 1;
        visibility: visible;
    }
    16% {
        opacity: 1;
        visibility: visible;
    }
    20% {
        opacity: 0;
        visibility: hidden;
    }
    96% {
        opacity: 0;
        visibility: hidden;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes slideshow {
    0% {
        opacity: 1;
        visibility: visible;
    }
    16% {
        opacity: 1;
        visibility: visible;
    }
    20% {
        opacity: 0;
        visibility: hidden;
    }
    96% {
        opacity: 0;
        visibility: hidden;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}

.slideshow {
    position: relative;

    img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        -webkit-animation: slideshow 25000ms linear;
        -o-animation: slideshow 25000ms linear;
        animation: slideshow 25000ms linear;

        -webkit-animation-iteration-count: infinite;
        -moz-animation-iteration-count: infinite;
        -o-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
    }

    img:first-child {
        position: static;

        -webkit-animation-delay: 20000ms;
        -moz-animation-delay: 20000ms;
        -o-animation-delay: 20000ms;
        animation-delay: 20000ms;
    }

    img:nth-child(2) {
        -webkit-animation-delay: 15000ms;
        -moz-animation-delay: 15000ms;
        -o-animation-delay: 15000ms;
        animation-delay: 15000ms;
    }

    img:nth-child(3) {
        -webkit-animation-delay: 10000ms;
        -moz-animation-delay: 1000ms;
        -o-animation-delay: 10000ms;
        animation-delay: 10000ms;
    }

    img:nth-child(4) {
        -webkit-animation-delay: 5000ms;
        -moz-animation-delay: 5000ms;
        -o-animation-delay: 5000ms;
        animation-delay: 5000ms;
    }

    img:nth-child(5) {
        -webkit-animation-delay: 0ms;
        -moz-animation-delay: 0ms;
        -o-animation-delay: 0ms;
        animation-delay: 0ms;
    }
}