@charset "utf-8";

@-moz-viewport {
    width: device-width;
    scale: 1;
}

@-ms-viewport {
    width: device-width;
    scale: 1;
}

@-o-viewport {
    width: device-width;
    scale: 1;
}

@-webkit-viewport {
    width: device-width;
    scale: 1;
}

@viewport {
    width: device-width;
    scale: 1;
}

html {
    box-sizing: border-box;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

::-moz-selection {
    background-color: $color-theme-2;
    color: #ffffff;
}

::selection {
    background-color: $color-theme-2;
    color: #ffffff;
}

html {
    font-family: "Liberation Sans", sans-serif;
}

body {
    background-color: $color-theme-4;
    min-height: 100vh;
}

main {
    background-color: $color-main-background;
    display: block;
}

.clearfix {
    overflow: hidden;
}

.wrapper {
    padding-left: calc(50% - (#{$max-page-width})/2);
    padding-right: calc(50% - (#{$max-page-width})/2);
}

.flex-img {
    display: block;
    max-width: 100%;
}