@charset "utf-8";

html {
    font-family: "Liberation Sans", sans-serif;

    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

body {
    background-color: $color-theme-4;
    min-height: 100vh;
}

main {
    background-color: $color-main-background;
    display: block;
}

.clearfix {
    overflow: hidden;
}

@media only screen and (min-width: $max-page-width) {
    .wrapper {
        padding-left: calc(50vw - #{$max-page-width / 2.4});
        padding-right: calc(50vw - #{$max-page-width / 2.4});
    }
}

.flex-img {
    display: block;
    max-width: 100%;
}

h1 {
    font-weight: bold;
}