.social {
    background-color: $color-main-background;
    color: $color-grey-1;

    .links {
        list-style-type: none;
        margin: 0 auto 0.5rem;
        text-align: center;

        li {
            display: inline-block;
        }

        li::after {
            content: "";
            margin: 0 0 0 0.25rem;
        }

        li:last-child::after {
            content: "";
            margin: 0;
        }

        a {
            border: 2px currentColor solid;
            border-radius: 50%;
            color: $color-grey-1;
            display: inline-block;
            text-decoration: none;

            line-height: 100%;

            height: 2em;
            width: 2em;

            padding-top: 15%;

            -webkit-transition: background-color 250ms ease-in-out, border-color 250ms ease-in-out;
            -moz-transition: background-color 250ms ease-in-out, border-color 250ms ease-in-out;
            -ms-transition: background-color 250ms ease-in-out, border-color 250ms ease-in-out;
            -o-transition: background-color 250ms ease-in-out, border-color 250ms ease-in-out;
            transition: background-color 250ms ease-in-out, border-color 250ms ease-in-out;
        }

        a:hover {
            background-color: currentColor;

            i {
                color: $color-main-background;
            }
        }

        .social-icon-facebook:hover {
            color: #3e5b98;
        }

        .social-icon-twitter:hover {
            color: #4da7de;
        }

        .social-icon-google-plus:hover {
            color: #dd4b39;
        }

        .social-icon-youtube:hover {
            color: #e02a20;
        }

        .social-icon-pinterest:hover {
            color: #c92619;
        }

        .social-icon-github:hover {
            color: #221e1b;
        }

        .social-icon-stackexchange:hover {
            color: #205296;
        }

        .social-icon-linkedin:hover {
            color: #3371b7;
        }

        .social-icon-500px:hover {
            color: #000000;
        }

        .social-icon-instagram:hover {
            color: #9c7c6e;
        }
    }

    @media only screen and (min-width: $screen-width-s) {

    }

    @media only screen and (min-width: $screen-width-m) {

    }
}