<header class="masthead wrapper island">
    <div class="logo push text-center">
        <a href="{{ site.baseurl }}/">
            {% include svg/pf-logo.svg %}
        </a>
    </div>

    <nav class="navigation">
        <ul class="push-0">
            <li><a class="pad-bottom-half" href="{{ site.baseurl }}/">Home</a></li>
            <li><a class="pad-top-half pad-bottom-half" href="{{ site.baseurl }}/cv">About</a></li>
            <li><a class="pad-top-half pad-bottom-half" href="{{ site.baseurl }}/software">Software</a></li>
            <li><a class="pad-top-half pad-bottom-half">Blog</a></li>
            <li><a class="pad-top-half pad-bottom-half" href="{{ site.baseurl }}/photography">Photos</a></li>
            <li><a class="pad-top-half">Music</a></li>
        </ul>
    </nav>
</header>