<footer class="social wrapper island clearfix">
    <ul class="links">
        <li class="gutter-1-4"><a href="{{ site.social-facebook }}" class="social-button social-icon-facebook" rel="external"><i class="fa fa-facebook"></i></a></li>
        <li class="gutter-1-4"><a href="{{ site.social-twitter }}" class="social-button social-icon-twitter" rel="external"><i class="fa fa-twitter"></i></a></li>
        <li class="gutter-1-4"><a href="{{ site.social-google-plus }}" class="social-button social-icon-google-plus" rel="external"><i class="fa fa-google-plus"></i></a></li>
        <li class="gutter-1-4"><a href="{{ site.social-skype }}" class="social-button social-icon-skype" rel="external"><i class="fa fa-skype"></i></a></li>
        <li class="gutter-1-4"><a href="{{ site.social-pinterest }}" class="social-button social-icon-pinterest" rel="external"><i class="fa fa-pinterest"></i></a></li>
        <li class="gutter-1-4"><a href="{{ site.social-github }}" class="social-button social-icon-github" rel="external"><i class="fa fa-github"></i></a></li>
        <li class="gutter-1-4"><a href="{{ site.social-stackexchange }}" class="social-button social-icon-stackexchange" rel="external"><i class="fa fa-stack-exchange"></i></a></li>
        <li class="gutter-1-4"><a href="{{ site.social-linkedin }}" class="social-button social-icon-linkedin" rel="external"><i class="fa fa-linkedin"></i></a></li>
        <li class="gutter-1-4"><a href="{{ site.social-500px }}" class="social-button social-icon-500px" rel="external"><i class="fa fa-500px"></i></a></li>
        <li class="gutter-1-4"><a href="{{ site.social-instagram }}" class="social-button social-icon-instagram" rel="external"><i class="fa fa-instagram"></i></a></li>
    </ul>
</footer>